---
const items = 'ecooa.med <div class="sep"></div> ecooa.esthetic <div class="sep"></div> ecooa.mind <div class="sep"></div> ecooa.working <div class="sep"></div> Transplante Capilar <div class="sep"></div> Nutrição <div class="sep"></div> Saúde Mental <div class="sep"></div> Porto Alegre <div class="sep"></div> Inovação Humanizada <div class="sep"></div>';
---

<div class="mq" role="marquee" aria-label="Serviços ecooa">
  <div class="mq-track">
    <div class="mq-item" set:html={items} />
    <div class="mq-item" aria-hidden="true" set:html={items} />
  </div>
</div>
