---
interface Props {
  quote: string;
  author: string;
  role?: string;
}

const { quote, author, role } = Astro.props;
---

<div class="testimonial r">
  <blockquote>&ldquo;{quote}&rdquo;</blockquote>
  <cite>{author}{role && ` · ${role}`}</cite>
</div>
