---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<p
  style="font-size:12px;font-weight:300;color:var(--color-brand-text);line-height:1.7;border-left:2px solid var(--color-brand);padding-left:12px;margin-top:10px"
>
  <em style="font-family:var(--font-serif);font-style:italic">em bom português:</em>
  {text}
</p>
